@import "tailwindcss";
@plugin "fluid-tailwindcss";

@theme {
  --font-family-sans: "Satoshi", sans-serif;
  --default-font-family: "Satoshi", sans-serif;
  --font-family-serif: "PP Eiko", serif;
  --font-epilogue: "Epilogue", sans-serif;

  --color-bg-gradient-start: #242124;
  --color-bg-gradient-third: #1c2032;
  --color-bg-gradient-two-thirds: #2b3e5f;
  --color-bg-gradient-end: #627ea4;

  --color-bg-intro-gradient-start: #a4bbd6;
  --color-bg-intro-gradient-third: #c2d6e6;
}

/* Satoshi Font */
@font-face {
  font-family: "Satoshi";
  src: url("~/assets/fonts/Satoshi-Regular.woff2") format("woff2"),
    url("~/assets/fonts/Satoshi-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* PP Eiko Font */
@font-face {
  font-family: "PP Eiko";
  src: url("~/assets/fonts/PPEiko-Thin.woff2") format("woff2"),
    url("~/assets/fonts/PPEiko-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
