@import "tailwindcss";
@plugin "fluid-tailwindcss";

:root {
  --color-bg-loading-1: #242124;
  --color-bg-loading-2: #1c2032;
  --color-bg-loading-3: #2b3e5f;
  --color-bg-loading-4: #627ea4;
  --color-bg-loading-5: #a4bbd6;
  --color-bg-loading-6: #c2d6e6;
  --color-bg-loading-7: #ffffff;

  --color-gradient-red: #ffc1c3;
  --color-gradient-pink: #ffb8e4;
  --color-gradient-blue: #a2ccfd;
  --color-gradient-green: #c6ffe9;
}

@theme {
  --font-family-sans: "Satoshi", sans-serif;
  --default-font-family: "Satoshi", sans-serif;
  --font-serif: "PP Eiko", serif;
  --font-epilogue: "Epilogue", sans-serif;
  --color-primary: #0b1018;
}

/* Satoshi Font */
@font-face {
  font-family: "Satoshi";
  src: url("~/assets/fonts/Satoshi-Regular.woff2") format("woff2"),
    url("~/assets/fonts/Satoshi-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* PP Eiko Font */
@font-face {
  font-family: "PP Eiko";
  src: url("~/assets/fonts/PPEiko-ItalicLight.woff2") format("woff2"),
    url("~/assets/fonts/PPEiko-ItalicLight.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
