@import "tailwindcss";
@plugin "fluid-tailwindcss";

:root {
  --color-bg-loading-1: #242124;
  --color-bg-loading-2: #1c2032;
  --color-bg-loading-3: #2b3e5f;
  --color-bg-loading-4: #627ea4;
  --color-bg-loading-5: #a4bbd6;
  --color-bg-loading-6: #c2d6e6;
  --color-bg-loading-7: #ffffff;
}

@theme {
  --font-family-sans: "Satoshi", sans-serif;
  --default-font-family: "Satoshi", sans-serif;
  --font-family-serif: "PP Eiko", serif;
  --font-epilogue: "Epilogue", sans-serif;
}

/* Satoshi Font */
@font-face {
  font-family: "Satoshi";
  src: url("~/assets/fonts/Satoshi-Regular.woff2") format("woff2"),
    url("~/assets/fonts/Satoshi-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* PP Eiko Font */
@font-face {
  font-family: "PP Eiko";
  src: url("~/assets/fonts/PPEiko-Thin.woff2") format("woff2"),
    url("~/assets/fonts/PPEiko-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
